<div class="component patient-review" ng-if="vm.patientQueries.length > 0">
  <h1>Query results</h1>
  <div ng-repeat="query in vm.patientQueries track by $index" class="animated fadeIn">
    <h2>Patient Information</h2>
    <span class="pull-right"><button class="btn btn-danger" ng-click="vm.clearQuery($index)"><i class="fa fa-close"></i><span class="sr-only">Clear Query</span></button></span>
    <table class="table">
      <thead>
        <tr>
          <th scope="cols">Field</th>
          <th scope="cols">Value</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2"><a href ng-click="query.showResults = !query.showResults">{{ query.showResults ? 'Hide' : 'Show'}} {{ query.results.length }} result<span ng-if="query.results.length > 1">s</span></a></td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-if="query.query.patientId">
          <td>Patient ID</td>
          <td>{{ query.query.patientId }}</td>
        </tr>
        <tr ng-if="query.query.firstName">
          <td>First Name</td>
          <td>{{ query.query.firstName }}</td>
        </tr>
        <tr ng-if="query.query.lastName">
          <td>Last Name</td>
          <td>{{ query.query.lastName }}</td>
        </tr>
        <tr ng-if="query.query.dob">
          <td>DOB</td>
          <td>{{ query.query.dob | date : 'mediumDate' : 'UTC' }}</td>
        </tr>
        <tr ng-if="query.query.gender">
          <td>Gender</td>
          <td>{{ query.query.gender }}</td>
        </tr>
        <tr ng-if="query.query.ssn">
          <td>SSN</td>
          <td>{{ query.query.ssn }}</td>
        </tr>
        <tr ng-if="query.query.homeZip">
          <td>Home Zip</td>
          <td>{{ query.query.homeZip }}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="query.showResults" class="">
      <h3>Results</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="cols">First name</th>
            <th scope="cols">Last name</th>
            <th scope="cols">Organization</th>
            <th scope="cols" ng-if="query.results.length > 1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="patient in query.results track by $index">
            <td>{{ patient.firstName }}</td>
            <td>{{ patient.lastName }}</td>
            <td>{{ patient.organization.name }}</td>
            <td ng-if="query.results.length > 1">
              <button class="btn btn-success btn-block" ng-click="vm.selectPatient($parent.$parent.$index, $index)">Select patient <i class="fa fa-check"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
