<div class="patient-stage" role="modal" aria-labeled-by="titleLabel">
  <div class="modal-header">
    <button type="btn btn-default" class="pull-right" aria-label="Cancel edits"
            ng-click="vm.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h2 class="modal-title" id="titleLabel">Patient Staging</h2>
  </div>
  <div class="modal-body">
    <h3>Queried Patient Information</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name<span ng-if="vm.query.terms.patientNames.length !== 1">s</span></th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span ng-repeat="name in vm.query.terms.patientNames track by $index">{{ vm.displayName(name) }}<br /></span></td>
          <td>{{ vm.query.terms.dob | date }}</td>
          <td>{{ vm.query.terms.gender }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Possible Patient Records</h3>
    <table class="table table-condensed" st-table="vm.displayedRecords" st-safe-src="vm.query.orgStatuses">
      <thead>
        <tr>
          <th scope="col" st-sort="org.name" st-skip-natural="true" class="st-sort">Organization</th>
          <th scope="col" st-sort="name.givenName" st-skip-natural="true" class="st-sort">Name</th>
          <th scope="col" st-sort="gender" st-skip-natural="true" class="st-sort">Gender</th>
          <th scope="col" st-sort="dateOfBirth" st-skip-natural="true" class="st-sort">Date of Birth</th>
          <th scope="col" st-sort="ssn" st-skip-natural="true" class="st-sort">SSN</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="org in vm.query.orgStatuses track by org.id" ng-if="org.results && org.results.length > 0">
          <td rowspan="{{ org.results.length }}" href ng-click="org.results[0].selected = !org.results[0].selected">{{ org.org.name }}</td>
          <td href ng-click="org.results[0].selected = !org.results[0].selected">{{ vm.displayName(org.results[0].names[0]) }}</td>
          <td href ng-click="org.results[0].selected = !org.results[0].selected">{{ org.results[0].gender }}</td>
          <td href ng-click="org.results[0].selected = !org.results[0].selected">{{ org.results[0].dateOfBirth | date }}</td>
          <td href ng-click="org.results[0].selected = !org.results[0].selected">{{ org.results[0].ssn }}</td>
          <td>
            <label class="sr-only" for="recordSelect-{{ org.results[0].id }}">{{ vm.displayName(org.results[0].names[0]) }}</label>
            <input id="recordSelect-{{ org.results[0].id }}" type="checkbox" ng-model="org.results[0].selected">
          </td>
        </tr>
        <tr ng-repeat-end ng-repeat="record in org.results.slice(1)">
          <td href ng-click="record.selected = !record.selected">{{ vm.displayName(record.names[0]) }}</td>
          <td href ng-click="record.selected = !record.selected">{{ record.gender }}</td>
          <td href ng-click="record.selected = !record.selected">{{ record.dateOfBirth | date }}</td>
          <td href ng-click="record.selected = !record.selected">{{ record.ssn }}</td>
          <td>
            <label class="sr-only" for="recordSelect-{{ record.id }}">{{ vm.displayName(record.names[0]) }}</label>
            <input id="recordSelect-{{ record.id }}" type="checkbox" ng-model="record.selected">
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Combined PULSE Patient</h3>
    <div class="form-horizontal" ng-form="vm.queryForm">
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.fullName.$touched) && vm.queryForm.fullName.$error.required }">
          <label for="fullName" class="col-sm-2 control-label">Full Name <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.fullName" id="fullName" name="fullName" required>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.fullName.$touched) && vm.queryForm.fullName.$error.required">Field is required</span>
          </div>
        </div>
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required }">
          <label for="gender" class="col-sm-2 control-label">Gender <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <select class="input-sm form-control" ng-model="vm.patient.gender" id="gender" name="gender" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()" required>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="UN">Undifferentiated</option>
            </select>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.friendlyName.$touched) && vm.queryForm.friendlyName.$error.required }">
          <label for="friendlyName" class="col-sm-2 control-label">Friendly Name <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.friendlyName" id="friendlyName" name="friendlyName" required>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.friendlyName.$touched) && vm.queryForm.friendlyName.$error.required">Field is required</span>
          </div>
        </div>
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.dob.$touched) && vm.queryForm.dob.$error.required }">
          <label for="dob" class="col-sm-2 control-label">Date of Birth <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-control" type="date" ng-model="vm.patient.dateOfBirth" uib-datepicker-popup is-open="vm.dobPopup.open" id="dob" name="dob" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.dobPopup.open = !vm.dobPopup.open"><i class="fa fa-calendar"></i><span class="sr-only">Open Date of Birth calendar chooser</span></button>
              </span>
            </div>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.dob.$touched) && vm.queryForm.dob.$error.required">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="ssn" class="col-sm-2 col-sm-offset-6 control-label">SSN</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.ssn" id="ssn" name="ssn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger pull-left" ng-click="vm.clearQuery()"><span class="sr-only">Clear query for patient</span><i class="fa fa-trash"></i></button>
    <button class="btn btn-sm btn-success pull-right" ng-click="vm.stagePatient()"
            ng-disabled="!vm.isStageable() && vm.queryForm.$valid"
            ng-mouseover="vm.showFormErrors = true"
            ng-focus="vm.showFormErrors = true"><span class="sr-only">Select record(s) for patient</span><i class="fa fa-save"></i></button>
    <ul class="list-unstyled text-left text-danger" ng-if="(vm.queryForm.$invalid || !vm.isStageable()) && vm.showFormErrors">
      <li ng-if="vm.queryForm.fullName.$error.required">Full Name is required</li>
      <li ng-if="vm.queryForm.friendlyName.$error.required">Friendly Name is required</li>
      <li ng-if="vm.queryForm.gender.$error.required">Gender is required</li>
      <li ng-if="vm.queryForm.dob.$error.required">Date of Birth is required</li>
      <li ng-if="!vm.isStageable()">At least one record must be selected</li>
    </ul>
  </div>
</div>
