<div class="patient-stage" role="modal" aria-labeled-by="titleLabel">
  <div class="modal-header">
    <button class="btn btn-default pull-right" aria-label="Cancel edits"
            ng-click="vm.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h2 class="modal-title" id="titleLabel">Patient Staging</h2>
  </div>
  <div class="modal-body">
    <h3>Queried Patient Information</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name<span ng-if="vm.query.terms.patientNames.length !== 1">s</span></th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-bind-html="vm.displayNames(vm.query.terms.patientNames)"></td>
          <td>{{ vm.query.terms.gender }}</td>
          <td>{{ vm.query.terms.dob | ehealthdate }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Possible Patient Records</h3>
    <table class="table table-condensed" st-table="vm.displayedRecords" st-safe-src="vm.query.locationStatuses">
      <thead>
        <tr>
          <th scope="col" st-sort="location.name" st-skip-natural="true" class="st-sort">Location</th>
          <th scope="col" st-sort="name.givenName" st-skip-natural="true" class="st-sort">Name</th>
          <th scope="col" st-sort="gender.description" st-skip-natural="true" class="st-sort">Gender</th>
          <th scope="col" st-sort="dateOfBirth" st-skip-natural="true" class="st-sort">Date of Birth</th>
          <th scope="col" st-sort="ssn" st-skip-natural="true" class="st-sort">SSN</th>
          <th scope="col">View Details</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="location in vm.query.locationStatuses track by location.id" ng-if="location.results && location.results.length > 0">
          <td rowspan="{{ location.results.length }}" href ng-click="location.results[0].selected = !location.results[0].selected">{{ location.location.name }}</td>
          <td href ng-click="location.results[0].selected = !location.results[0].selected" ng-bind-html="vm.displayNames(location.results[0].patientRecordName)"></td>
          <td href ng-click="location.results[0].selected = !location.results[0].selected">{{ location.results[0].gender.description }}</td>
          <td href ng-click="location.results[0].selected = !location.results[0].selected">{{ location.results[0].dateOfBirth | ehealthdate }}</td>
          <td href ng-click="location.results[0].selected = !location.results[0].selected">{{ location.results[0].ssn }}</td>
          <td>
            <button class="btn btn-success btn-sm" ng-click="vm.viewRecordDetails(location.results[0])"><i class="fa fa-search"></i><span class="sr-only">View Details</span></button>
          </td>
          <td>
            <label class="sr-only" for="recordSelect-{{ location.results[0].id }}" ng-bind-html="vm.displayNames(location.results[0].patientRecordName)"></label>
            <input id="recordSelect-{{ location.results[0].id }}" type="checkbox" ng-model="location.results[0].selected">
          </td>
        </tr>
        <tr ng-repeat-end ng-repeat="record in location.results.slice(1)">
          <td href ng-click="record.selected = !record.selected" ng-bind-html="vm.displayNames(record.patientRecordName)"></td>
          <td href ng-click="record.selected = !record.selected">{{ record.gender.description }}</td>
          <td href ng-click="record.selected = !record.selected">{{ record.dateOfBirth | ehealthdate }}</td>
          <td href ng-click="record.selected = !record.selected">{{ record.ssn }}</td>
          <td>
            <button class="btn btn-success btn-sm" ng-click="vm.viewRecordDetails(record)"><i class="fa fa-search"></i><span class="sr-only">View Details</span></button>
          </td>
          <td>
            <label class="sr-only" for="recordSelect-{{ record.id }}" ng-bind-html="vm.displayNames(record.patientRecordName)"></label>
            <input id="recordSelect-{{ record.id }}" type="checkbox" ng-model="record.selected">
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Combined PULSE Patient</h3>
    <div class="form-horizontal" ng-form="vm.queryForm">
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.fullName.$touched) && vm.queryForm.fullName.$error.required }">
          <label for="fullName" class="col-sm-2 control-label">Full Name <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.fullName" id="fullName" name="fullName" required>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.fullName.$touched) && vm.queryForm.fullName.$error.required">Field is required</span>
          </div>
        </div>
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.friendlyName.$touched) && vm.queryForm.friendlyName.$error.required }">
          <label for="friendlyName" class="col-sm-2 control-label">Friendly Name</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.friendlyName" id="friendlyName" name="friendlyName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required }">
          <label for="gender" class="col-sm-2 control-label">Gender <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <select class="form-control" ng-model="vm.patient.gender" id="gender" name="gender" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()" required>
              <option value="F">Female</option>
              <option value="M">Male</option>
              <option value="UN">Undifferentiated</option>
            </select>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required">Field is required</span>
          </div>
        </div>
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.dob.$touched) && vm.queryForm.dob.$error.required }">
          <pre>{{ vm.patient.dateOfBirthObject | json }}</pre>
          <label for="dob" class="col-sm-2 control-label">Date of Birth <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="vm.patient.dateOfBirthObject" uib-datepicker-popup is-open="vm.dobPopup.open" id="dob" name="dob" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.dobPopup.open = !vm.dobPopup.open"><i class="fa fa-calendar"></i><span class="sr-only">Open Date of Birth calendar chooser</span></button>
              </span>
            </div>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.dob.$touched) && vm.queryForm.dob.$error.required">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="ssn" class="col-sm-2 col-sm-offset-6 control-label">SSN</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.ssn" id="ssn" name="ssn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-1">
        <button class="btn btn-danger"
                confirm="Are you sure you'd like to clear this Patient Query?"
                confirm-title="Confirmation"
                confirm-ok="Yes"
                confirm-cancel="No"
                confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                ng-click="vm.clearQuery()"><i class="fa fa-trash"></i> Dismiss<span class="sr-only"> query for patient</span></button>
      </div>
      <div class="col-sm-10">
        <ul class="list-unstyled text-left text-danger" ng-if="(vm.queryForm.$invalid || !vm.isStageable()) && vm.showFormErrors">
          <li ng-if="vm.queryForm.fullName.$error.required">Full Name is required</li>
          <li ng-if="vm.queryForm.gender.$error.required">Gender is required</li>
          <li ng-if="vm.queryForm.dob.$error.required">Date of Birth is required</li>
          <li ng-if="!vm.isStageable()">At least one record must be selected</li>
        </ul>
        <div class="row" ng-if="vm.errorMessage">
          <div class="col-sm-12 bg-danger text-left">{{ vm.errorMessage }}</div>
        </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-success pull-right" ng-click="vm.stagePatient()"
                ng-disabled="vm.showFormErrors && (!vm.isStageable() || vm.queryForm.$invalid)"
                ng-mouseover="vm.showFormErrors = true"
                ng-focus="vm.showFormErrors = true">Save <span class="sr-only"> and select record(s) for patient</span> <i class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
</div>
