<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-sm-6">
      <h1 class="">About PULSE</h1>
      <p class="">ONC has funded the development of the Patient Unified Lookup System for Emergencies (PULSE) to ensure vital health information can be shared and used during disasters. California Emergency Medical Services Authority (EMSA) and Audacious Inquiry (AI) developed PULSE to prepare for disasters and connect healthcare across California.</p>
      <a href="#/resources">Access Developer Resources</a>
    </div>
    <div class="col-sm-3 col-xs-6">
      <img class="img-responsive" src="assets/images/ONC_Logo.png" alt="ONC Logo" />
    </div>
    <div class="col-sm-3 col-xs-6">
      <img class="img-responsive" src="assets/images/EMSA_Logo.png" alt="EMSA Logo" />
    </div>
  </div><!-- /.container-fluid -->
</div>
