<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <img class="navbar-brand" src="assets/images/ONC_Logo.png" alt="ONC Logo" />
          <img class="navbar-brand" src="assets/images/EMSA_Logo.png" alt="EMSA Logo" />
        </div>
        <h1 class="navbar-text">About PULSE</h1>
        <p class="navbar-text">ONC has funded the development of the Patient Unified Lookup System for Emergencies (PULSE) to ensure vital health information can be shared and used during disasters. California Emergency Medical Services Authority (EMSA) and Audacious Inquiry (AI) developed PULSE to prepare for disasters and connect healthcare across California.</p>
        <a class="navbar-link" ng-href="#/resources">Access Developer Resources</a>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
