$bottom-nav-height: 120px;

footer {

    h1 {
        font-size: 12pt;
    }

    .navbar-default {
        background-color: rgb(225, 225, 225);
    }

    .navbar {
        min-height: $bottom-nav-height;
        //height: $bottom-nav-height;
        height: 100%;
    }

    img {
        height: 100%;
        max-height: $bottom-nav-height;
    }
}
