<div class="form-horizontal component acf-entry" ng-form="vm.queryForm">
  <h1>ACF Registration</h1>
  <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required }">
    <label for="selectAcf" class="col-sm-4 control-label">ACF Selection</label>
    <div class="col-sm-8">
      <select class="input-sm form-control" ng-model="vm.selectAcf" id="selectAcf" name="selectAcf" ng-disabled="vm.addNewAcf || vm.acfs.length === 0" ng-required="!vm.addNewAcf"
              ng-options="acf.name for acf in vm.acfs">
      </select>
      <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required">Field is required</span>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.newAcf.$touched) && vm.queryForm.newAcf.$error.required }">
    <label for="newAcf" class="col-sm-4 control-label">New ACF</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf" id="newAcf" name="newAcf" ng-disabled="!vm.addNewAcf" ng-required="vm.addNewAcf"></input>
      <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.newAcf.$touched) && vm.queryForm.newAcf.$error.required">Field is required</span>
    </div>
  </div>
  <div class="form-group">
    <label for="addNewAcf" class="col-sm-4 control-label">ACF not found?</label>
    <div class="col-sm-8">
      <input class="input-sm" type="checkbox" ng-model="vm.addNewAcf" id="addNewAcf" name="addNewAcf" ng-disabled="!vm.acfs || vm.acfs.length === 0"></input>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-4">
      <button ng-disabled="vm.queryForm.$invalid && vm.showFormErrors"
              class="btn btn-success btn-block"
              id="acfSubmit"
              ng-mouseover="vm.showFormErrors = true"
              ng-focus="vm.showFormErrors = true"
              ng-click="vm.acfSubmit()">Submit</button>
    </div>
  </div>
  <div class="form-group" ng-if="vm.queryForm.$invalid && vm.showFormErrors">
    <div class="col-sm-10 col-sm-offset-2 text-danger">
      The following error<span ng-if="vm.errorCount() > 1">(s)</span> must be fixed:
      <ul>
        <li ng-if="vm.queryForm.selectAcf.$error.required">An ACF must be selected</li>
        <li ng-if="vm.queryForm.newAcf.$error.required">New ACF Name is required</li>
      </ul>
    </div>
  </div>
</div>
