<div class="form-horizontal component acf-entry" ng-form="vm.queryForm">
  <div class="col-sm-12"><h1>ACF Registration</h1></div>
  <div class="col-sm-12"><h2>Select an existing ACF</h2></div>
  <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required }">
    <label for="selectAcf" class="col-sm-4 control-label">ACF Selection</label>
    <div class="col-sm-8">
      <select class="input-sm form-control" ng-model="vm.selectAcf" id="selectAcf" name="selectAcf" ng-disabled="vm.createNewAcf || !vm.acfs || vm.acfs.length === 0" ng-required="!vm.createNewAcf"
              ng-options="acf.name for acf in vm.acfs">
      </select>
      <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required">Field is required</span>
    </div>
  </div>
  <div class="col-sm-12"><h2>Enter a new ACF</h2></div>
  <div class="form-group">
    <label for="createNewAcf" class="col-sm-4 control-label">ACF not found?</label>
    <div class="col-sm-8">
      <input class="input-sm" type="checkbox" ng-model="vm.createNewAcf" id="createNewAcf" name="createNewAcf" ng-disabled="vm.acfs.length === 0"></input>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.newAcfName.$touched) && vm.queryForm.newAcfName.$error.required }">
    <label for="newAcfName" class="col-sm-4 control-label">Name</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.name" id="newAcfName" name="newAcfName" ng-disabled="!vm.createNewAcf" ng-required="vm.createNewAcf"></input>
      <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.newAcfName.$touched) && vm.queryForm.newAcfName.$error.required">Field is required</span>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfPhone" class="col-sm-4 control-label">Phone</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.phone" id="newAcfPhone" name="newAcfPhone" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfStreet1" class="col-sm-4 control-label">Street Line 1</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.street1" id="newAcfStreet1" name="newAcfStreet1" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfStreet2" class="col-sm-4 control-label">Street Line 2</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.street2" id="newAcfStreet2" name="newAcfStreet2" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfCity" class="col-sm-4 control-label">City</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.city" id="newAcfCity" name="newAcfCity" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfState" class="col-sm-4 control-label">State</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.state" id="newAcfState" name="newAcfState" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfZip" class="col-sm-4 control-label">Zip</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.zip" id="newAcfZip" name="newAcfZip" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="newAcfCountry" class="col-sm-4 control-label">Country</label>
    <div class="col-sm-8">
      <input class="input-sm form-control" type="text" ng-model="vm.newAcf.address.country" id="newAcfCountry" name="newAcfCountry" ng-disabled="!vm.createNewAcf"></input>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-4">
      <button ng-disabled="vm.queryForm.$invalid && vm.showFormErrors"
              class="btn btn-success btn-block"
              id="acfSubmit"
              ng-mouseover="vm.showFormErrors = true"
              ng-focus="vm.showFormErrors = true"
              ng-click="vm.acfSubmit()">Submit</button>
    </div>
  </div>
  <div class="form-group" ng-if="vm.queryForm.$invalid && vm.showFormErrors">
    <div class="col-sm-10 col-sm-offset-2 text-danger">
      The following error<span ng-if="vm.errorCount() > 1">(s)</span> must be fixed:
      <ul>
        <li ng-if="vm.queryForm.selectAcf.$error.required">An ACF must be selected</li>
        <li ng-if="vm.queryForm.newAcfName.$error.required">New ACF Name is required</li>
      </ul>
    </div>
  </div>
</div>
