$top-nav-height: 120px;

body {
    margin-top: $top-nav-height;
}

header {
    .dropdown-menu {
        left: inherit;
        right: 0;
    }

    .navbar-default {
        background-color: rgba(255,255,255,.5);

        .navbar-toggle {
            border: 0px;

            button:hover,
            button:focus {
                background-color: #bbb;
            }
        }

        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: transparent;
        }
    }

    .navbar {
        min-height: $top-nav-height;
        height: $top-nav-height;
        border-bottom: 4px solid #3e7685;
    }

    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}
