$top-nav-height: 120px;

body {
    margin-top: $top-nav-height;
}

header {

    .navbar-default {
        background-color: rgb(255, 255, 255);
    }

    .navbar {
        min-height: $top-nav-height;
        border-bottom: 4px solid #3e7685;
        max-height: $top-nav-height;

        img {
            max-height: $top-nav-height;
            width: 100%;
        }

        li.dropdown {
            background-color: rgb(255, 255, 255);
        }

        .dropdown-menu {
            width: $screen-xs * 2 / 3;
        }
    }
}
