$top-nav-height: 120px;

body {
    margin-top: $top-nav-height;
}

header {
    .navbar-default {
        background-color: rgb(255,255,255);
    }

    .navbar {
        min-height: $top-nav-height;
        height: $top-nav-height;
        border-bottom: 4px solid #3e7685;
        width: 100%;

        .container-fluid {
            min-height: $top-nav-height;

            .col-sm-2 {
                min-height: $top-nav-height;
                position: relative;

                button {
                    position: absolute;
                    margin-right: 15px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                ai-location-status {
                    position: absolute;
                    margin-right: 15px;
                    margin-bottom: 5px;
                    right: 0px;
                    bottom: 0px;
                }
            }
        }
    }
}
