<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-sm-7">
      <a class="navbar-brand" href="#/"><img src="assets/images/PULSE_logo2.svg" alt="PULSE Logo" width="100%" /></a>
    </div>
    <div class="col-sm-3">
      <ai-acf mode="view" ng-if="vm.hasAcf()"></ai-acf>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-sm btn-primary pull-right" id="logoutButton" ng-click="vm.logout()">Log Out</button>
      <ai-organization-status></ai-organization-status>
    </div>
  </div>
</nav>
