<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <a class="navbar-brand" href="#/" ng-click="vm.clear()"><img src="assets/images/PULSE_logo2.svg" alt="Certified Health IT Product List" class="img-responsive center-block" width="100%"/></a>

          <div class="btn-group navbar-toggle" uib-dropdown uib-7keyboard-nav is-open="!vm.navCollapse">
            <button id="nav-dropdown" type="button" class="btn" uib-dropdown-toggle>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="nav" aria-labelledby="nav-dropdown">
              <li ng-class="{ 'active' : (vm.active === 'home') }"><a ng-href="#/">Home</a></li>
              <li ng-class="{ 'active' : (vm.active === 'search') }"><a ng-href="#/search">Search</a></li>
              <li ng-class="{ 'active' : (vm.active === 'review') }"><a ng-href="#/review">Review</a></li>
              <li ng-class="{ 'active' : (vm.active === 'about') }"><a ng-href="#/about">About</a></li>
              <li ng-class="{ 'active' : (vm.active === 'resources') }"><a ng-href="#/resources">Resources</a></li>
              <li class="divider"></li>
              <li><a href ng-click="vm.logout()">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
