<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-home"></i> PULSE
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ 'active' : (vm.active === 'home') }"><a ng-href="#/">Home</a></li>
        <li ng-class="{ 'active' : (vm.active === 'about') }"><a ng-href="#/about">About</a></li>
        <form ng-if="!vm.isAuthenticated()" class="navbar-form navbar-right" role="log in" method="get" action="http://localhost:8080/saml/login?disco=true">
          <button type="submit" class="btn btn-default">Log In</button>
          <input type="hidden" name="idp" id="idp_http://idp.ssocircle.com" value="http://idp.ssocircle.com">
        </form>
        <form ng-if="vm.isAuthenticated()" class="navbar-form navbar-right" role="log in" method="get" action="http://localhost:8080/saml/logout?local=true">
          <button ng-click="vm.logout()" type="button" class="btn btn-default">Log Out</button>
        </form>
        <p ng-if="vm.isAuthenticated()" class="ai-navbar-text navbar-text">{{ vm.getUsername() }}</p>
      </ul>
    </div>
  </div>
</nav>
