<div class="organization-status">
  <span uib-dropdown on-toggle="vm.hidePanel = !vm.hidePanel">
    <a href id="organization-status-toggle" uib-dropdown-toggle is-open="!vm.hidePanel">
      {{ vm.hidePanel ? 'Show' : 'Hide' }} Organization Status
    </a>
    <div class="row fade dropdown-menu pull-right" uib-dropdown-menu aria-labelledby="organization-status-toggle">
      <div class="col-sm-12" ng-repeat="org in vm.organizationStatistics track by $index">
        <div google-chart chart="org.statistics"></div>
    </div>
  </span>
</div>
