<div class="container-fluid main-page">
  <header>
    <ai-navbar active="home"></ai-navbar>
  </header>
  <div ng-if="!vm.isAuthenticated()" class="fake-login">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <form role="log in" method="get" action="{{ vm.authAction }}" id="dhvForm" name="dhvForm">
          <button type="submit" class="btn btn-default btn-block" dom-on-create="vm.redirectToDhv()">Go to PULSE</button>
          <input type="hidden" name="idp" id="idp" value="https://california.demo.collaborativefusion.com/sso/saml2/idp/"></input>
        </form>
      </div>
    </div>
  </div>
  <div ng-if="vm.isAuthenticated()">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ai-acf mode="select">
        </ai-acf>
      </div>
    </div>
  </div>
  <footer>
    <ai-footer></ai-footer>
  </footer>
</div>
