<div class="container-fluid">
  <header>
    <ai-navbar active="home"></ai-navbar>
  </header>
  <div ng-if="!vm.isAuthenticated()">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <ai-acf-entry>
        </ai-acf-entry>
      </div>
    </div>
  </div>
  <div ng-if="vm.isAuthenticated()">
    <div class="row">
      <div class="col-sm-4">
        <ai-patient-search
           patient-queries="vm.patientQueries">
        </ai-patient-search>
        <ai-patient-review
           patient-queries="vm.patientQueries"
           patients="vm.patients">
        </ai-patient-review>
      </div>
      <div class="col-sm-4">
        <ai-acf-patient-list
           patients="vm.patients"
           active-document="vm.activeDocument">
        </ai-acf-patient-list>
      </div>
      <div class="col-sm-4">
        <ai-organization-status>
        </ai-organization-status>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ai-document-review
           active-document="vm.activeDocument">
        </ai-document-review>
      </div>
    </div>
  </div>
</div>
