<div class="container-fluid component acf-patient-list" ng-if="vm.getUserAcf() !== ''">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ vm.patients.length }} Active Patient<span ng-if="vm.patients.length !== 1">s</span></h1>
      <p>At ACF: {{ vm.getUserAcf().name }}</p>
    </div>
  </div>
  <div class="row" ng-if="vm.patients.length > 0">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="cols">First name</th>
            <th scope="cols">Last name</th>
            <th scope="cols" class="text-center">Discharge</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="patient in vm.patients">
            <td>{{ patient.firstName }}</td>
            <td>{{ patient.lastName }}</td>
            <td class="text-right"><button class="btn btn-danger btn-block" ng-click="vm.dischargePatient($index)"><i class="fa fa-close"></i><span class="sr-only">Discharge Patient</span></button></td>
          </tr>
          <tr ng-repeat-end ng-if="patient.documents && patient.documents.length > 0">
            <td colspan="3"><a href ng-click="patient.showDocuments = !patient.showDocuments">{{ patient.showDocuments ? 'Hide' : 'Show' }} {{ patient.documents.length }} available document<span ng-if="patient.documents.length > 1">s</span></a>
              <ul class="list-unstyled" ng-if="patient.showDocuments">
                <li ng-repeat="doc in patient.documents">
                  <button ng-if="doc.status !== 'cached'" ng-click="vm.getDocument(patient, doc)" class="btn btn-warning btn-sm"><span class="sr-only">Download</span><i class="fa fa-download"></i></button>
                  <button ng-if="doc.status === 'cached'" ng-click="vm.activateDocument(doc)" class="btn btn-success btn-sm"><span class="sr-only">View</span><i class="fa fa-eye"></i></button>
                  <strong>Title:</strong> {{ doc.title }} (<strong>Type:</strong> {{ doc.filetype }})
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
