<div class="container-fluid acf-patient-list">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{ vm.patients.length }} Active Patient<span ng-if="vm.patients.length !== 1">s</span></h1>
      <p>At ACF: {{ vm.getUserAcf().name }}</p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped" st-table="vm.displayedPatients" st-safe-src="vm.patients" ng-if="vm.patients.length > 0">
            <thead>
              <tr>
                <th scope="cols" st-sort="givenName" st-skip-natural="true" class="st-sort">Given Name</th>
                <th scope="cols" st-sort="familyName" st-skip-natural="true" class="st-sort">Family Name</th>
                <th scope="cols" st-sort="dateOfBirth" st-skip-natural="true" class="st-sort">Date of Birth</th>
                <th scope="cols" st-sort="lastRead" class="st-sort" st-skip-natural="true" st-sort-default="reverse">Last Accessed</th>
                <th scope="cols">Documents</th>
                <th scope="cols">Discharge</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in vm.displayedPatients">
                <td>{{ patient.givenName }}</td>
                <td>{{ patient.familyName }}</td>
                <td>{{ patient.dateOfBirth | date }}</td>
                <td>{{ patient.lastRead | date : 'medium' }}</td>
                <td>
                  <ul class="list-unstyled">
                    <li ng-repeat="org in patient.orgMaps track by org.id">Documents from {{ org.organization.name }}
                      <ul>
                        <li ng-if="org.documents.length === 0">No documents found</li>
                        <li ng-repeat="doc in org.documents track by doc.id">
                          <button ng-if="!doc.cached" ng-click="vm.cacheDocument(patient, doc)" class="btn btn-warning btn-sm"><span class="sr-only">Cache </span><i class="fa fa-download"></i></button>
                          <button ng-if="doc.cached" ng-click="vm.getDocument(patient, doc)" class="btn btn-success btn-sm"><span class="sr-only">View </span><i class="fa fa-eye"></i></button>
                          {{ doc.name }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
                <td><button class="btn btn-danger" ng-click="vm.dischargePatient(patient)"><i class="fa fa-sign-out"></i><span class="sr-only">Discharge {{ patient.givenName }} {{ patient.familyName }}</span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
