<div class="container-fluid names">
  <div class="form-horizontal" ng-form="vm.activeForm">
    <div ng-repeat="name in vm.names track by $index">
      <div class="row" ng-if="name.family && name.givens[0].length > 0">
        <div class="col-sm-12">
          Assembled Name: {{ vm.displayName(name) }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : (vm.showFormErrors || vm.activeForm.given0.$touched) && vm.activeForm.given0.$error.required }">
          <label for="given0" class="control-label col-sm-4">Given <span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <div class="input-group">
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.givens[0]" id="given0" name="given0" placeholder="Given" required></input>
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" ng-click="vm.addGiven(name)" ng-if="name.givens.length === 1"><i class="fa fa-plus"></i><span class="sr-only">Add new given name</span></button>
              <button type="button" class="btn btn-sm btn-default" ng-click="vm.removeGiven(name, 0)" ng-if="name.givens.length > 1"><i class="fa fa-trash"></i><span class="sr-only">Remove current given name</span></button>
              </span>
            </div>
            <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.activeForm.given0.$touched) && vm.activeForm.given0.$error.required">Field is required</span>
          </div>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : (vm.showFormErrors || vm.activeForm.family.$touched) && vm.activeForm.family.$error.required }">
          <label for="family" class="control-label col-sm-4">Family <span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.family" id="family" name="family" placeholder="Family" required></input>
            <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.activeForm.family.$touched) && vm.activeForm.family.$error.required">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-group" ng-repeat="given in name.givens.slice(1) track by $index">
        <label for="given{{ $index + 1 }}" class="control-label col-sm-2">Given</label>
        <div class="input-group col-sm-4">
          <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.givens[$index + 1]" id="given{{ $index + 1 }}" name="given{{ $index + 1 }}" placeholder="Given"></input>
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.addGiven(name)" ng-if="name.givens.length === $index + 2"><i class="fa fa-plus"></i><span class="sr-only">Add new given name</span></button>
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.removeGiven(name, $index + 1)" ng-if="name.givens.length > 1"><i class="fa fa-trash"></i><span class="sr-only">Remove current given name</span></button>
          </span>
        </div>
      </div>
      <div ng-if="name.showAdditional">
        <div class="form-group">
          <label for="prefix{{ $index}}" class="control-label col-sm-2">Prefix</label>
          <div class="col-sm-2">
            <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.prefix" id="prefix{{ $index }}" name="prefix{{ $index }}"></input>
          </div>
          <label for="suffix{{ $index}}" class="control-label col-sm-2">Suffix</label>
          <div class="col-sm-2">
            <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.suffix" id="suffix{{ $index }}" name="suffix{{ $index }}"></input>
          </div>
          <label for="profSuffix{{ $index}}" class="control-label col-sm-2">Professional Suffix</label>
          <div class="col-sm-2">
            <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="name.profSuffix" id="profSuffix{{ $index }}" name="profSuffix{{ $index }}"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="nameType{{ $index}}" class="control-label col-sm-2">Name Type</label>
          <div class="col-sm-2">
            <select class="input-sm form-control" ng-model="name.nameType" id="nameType{{ $index }}" name="nameType{{ $index}" required
                    ng-options="item.code as item.value for item in vm.nameTypes">
            </select>
          </div>
          <label for="nameRepresentation{{ $index}}" class="control-label col-sm-2">Name Representation</label>
          <div class="col-sm-2">
            <select class="input-sm form-control" ng-model="name.nameRepresentation" id="nameRepresentation{{ $index }}" name="nameRepresentation{{ $index}">
              <option value="A">Alphabetic (i.e., Default or some single-byte)</option>
              <option value="I">Ideographic (i.e., Kanji)</option>
              <option value="P">Phonetic (i.e., ASCII, Katakana, Hiragana, etc.)</option>
            </select>
          </div>
          <label for="nameAssembly{{ $index}}" class="control-label col-sm-2">Name Assembly Order</label>
          <div class="col-sm-2">
            <select class="input-sm form-control" ng-model="name.nameAssembly" id="nameAssembly{{ $index }}" name="nameAssembly{{ $index}">
              <option value="F">Prefix Family Middle Given Suffix</option>
              <option value="G">Prefix Given Middle Family Suffix</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-default" ng-click="name.showAdditional = !name.showAdditional">{{ name.showAdditional ? 'Hide' : 'See' }} additional parameters <i class="fa fa-search"></i></button>
          <button type="button" class="btn btn-default" ng-click="vm.addName()" ng-if="vm.names.length === $index + 1">Add new name <i class="fa fa-plus"></i></button>
          <button type="button" class="btn btn-default" ng-click="vm.removeName($index)" ng-if="vm.names.length > 1">Remove this name <i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
