<div class="patient-edit" role="modal" aria-labeled-by="titleLabel">
  <div class="modal-header">
    <button class="btn btn-default pull-right" aria-label="Cancel edits"
            ng-click="vm.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h2 class="modal-title" id="titleLabel">Patient Editing</h2>
  </div>
  <div class="modal-body">
    <h3>PULSE Patient</h3>
    <div class="form-horizontal" ng-form="vm.editForm">
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.editForm.fullName.$touched) && vm.editForm.fullName.$error.required }">
          <label for="fullName" class="col-sm-2 control-label">Full Name <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.fullName" id="fullName" name="fullName" required>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.fullName.$touched) && vm.editForm.fullName.$error.required">Field is required</span>
          </div>
        </div>
        <div>
          <label for="friendlyName" class="col-sm-2 control-label">Friendly Name</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.friendlyName" id="friendlyName" name="friendlyName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.editForm.gender.$touched) && vm.editForm.gender.$error.required }">
          <label for="gender" class="col-sm-2 control-label">Gender <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <select class="form-control" ng-model="vm.patient.gender" id="gender" name="gender" ng-keyup="$event.keyCode == 13 && !vm.editForm.$invalid && vm.searchForPatient()" required>
              <option value="F">Female</option>
              <option value="M">Male</option>
              <option value="UN">Undifferentiated</option>
            </select>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.gender.$touched) && vm.editForm.gender.$error.required">Field is required</span>
          </div>
        </div>
        <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.editForm.dob.$touched) && vm.editForm.dob.$error.required }">
          <label for="dob" class="col-sm-2 control-label">Date of Birth <span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="vm.patient.dateOfBirthObject" uib-datepicker-popup is-open="vm.dobPopup.open" id="dob" name="dob" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.dobPopup.open = !vm.dobPopup.open"><i class="fa fa-calendar"></i><span class="sr-only">Open Date of Birth calendar chooser</span></button>
              </span>
            </div>
            <span class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.dob.$touched) && vm.editForm.dob.$error.required">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="ssn" class="col-sm-2 col-sm-offset-6 control-label">SSN</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="vm.patient.ssn" id="ssn" name="ssn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-10">
        <ul class="list-unstyled text-left text-danger" ng-if="vm.editForm.$invalid && vm.showFormErrors">
          <li ng-if="vm.editForm.fullName.$error.required">Full Name is required</li>
          <li ng-if="vm.editForm.gender.$error.required">Gender is required</li>
          <li ng-if="vm.editForm.dob.$error.required">Date of Birth is required</li>
        </ul>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success pull-right" ng-click="vm.editPatient()"
                ng-disabled="vm.showFormErrors && vm.editForm.$invalid"
                ng-mouseover="vm.showFormErrors = true"
                ng-focus="vm.showFormErrors = true">Save <i class="fa fa-save"></i></button>
      </div>
    </div>
    <div class="row" ng-if="vm.errorMessage">
      <div class="col-sm-12 bg-danger text-left">{{ vm.errorMessage }}</div>
    </div>
  </div>
</div>
