<div class="container-fluid no-background hidden-print">
  <header>
    <ai-navbar active="review"></ai-navbar>
  </header>
  <div class="row inner-nav">
    <div class="col-sm-1 col-sm-offset-5">
      <a class="btn btn-lg btn-block btn-primary" href="#/search">Search</a>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-lg btn-block btn-success btn-active-nav" href="#/review">Review</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ai-acf-patient-list
         register-handler="vm.registerHandler(handler)"
         active-document="vm.activeDocument">
      </ai-acf-patient-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ai-document-review
         active-document="vm.activeDocument">
      </ai-document-review>
    </div>
  </div>
  <footer>
    <ai-footer></ai-footer>
  </footer>
</div>
<div class="visible-print-block">
  <div ng-if="!vm.activeDocument">
    PULSE does not support printing of this page without an active document
  </div>
  <ai-document-review ng-if="vm.activeDocument" class="visible-print-block"
                      active-document="vm.activeDocument">
  </ai-document-review>
</div>
