<div class="container-fluid acf-patient-list">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="pull-right">
        <button class="btn btn-sm panel-button" ng-click="vm.hidePanel = !vm.hidePanel"><i class="fa fa-lg {{ vm.hidePanel ? 'fa-caret-right' : 'fa-caret-down' }}"></i><span class="sr-only">{{ vm.hidePanel ? 'Show' : 'Hide' }} Panel</span></button>
      </div>
      <h2 class="panel-title">{{ vm.panelTitle }}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body slide" ng-if="!vm.hidePanel">
      <div class="row" ng-if="!vm.activePatient">
        <div class="col-sm-12">
          <table class="table table-striped" st-table="vm.displayedPatients" st-safe-src="vm.patients" ng-if="vm.patients.length > 0">
            <thead>
              <tr>
                <th scope="cols" st-sort="givenName" st-skip-natural="true" class="st-sort">Given Name</th>
                <th scope="cols" st-sort="familyName" st-skip-natural="true" class="st-sort">Family Name</th>
                <th scope="cols" st-sort="dateOfBirth" st-skip-natural="true" class="st-sort">Date of Birth</th>
                <th scope="cols" st-sort="lastRead" class="st-sort" st-skip-natural="true" st-sort-default="reverse">Last Accessed</th>
                <th scope="cols">Documents</th>
                <th scope="cols">Inspect</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in vm.displayedPatients track by patient.id" class="fade">
                <td>{{ patient.givenName }}</td>
                <td>{{ patient.familyName }}</td>
                <td>{{ patient.dateOfBirth | date }}</td>
                <td>{{ patient.lastRead | date : 'medium' }}</td>
                <td>
                  <uib-progress max="patient.documentStatus.total + vm.countActive(patient)">
                    <uib-bar value="patient.documentStatus.cached" type="success"><i>{{ patient.documentStatus.cached }} / {{ patient.documentStatus.total }} document<span ng-if="patient.documentStatus.total !== 1">s</span> cached</i></uib-bar>
                    <uib-bar value="patient.documentStatus.total - patient.documentStatus.cached" type="info"><i>{{ patient.documentStatus.total - patient.documentStatus.cached }} document<span ng-if="patient.documentStatus.total - patient.documentStatus.cached !== 1">s</span> available</i></uib-bar>
                    <uib-bar value="vm.countActive(patient)" type="warning"><i>{{ vm.countActive(patient) }} organization<span ng-if="vm.countActive(patient) > 1">s</span> pending</i></uib-bar>
                  </uib-progress>
                </td>
                <td><button class="btn btn-success" ng-click="vm.activatePatient(patient)"><i class="fa fa-search"></i><span class="sr-only">Activate {{ patient.givenName }} {{ patient.familyName }}</span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-if="vm.activePatient">
        <div class="col-sm-12">
          <ul>
            <li>Given Name: {{ vm.activePatient.givenName }}</li>
            <li>Family Name: {{ vm.activePatient.familyName }}</li>
            <li>Date of Birth: {{ vm.activePatient.dob | date }}</li>
          </ul>
          <table class="table table-condensed" st-table="vm.activePatient.documents">
            <thead>
              <tr>
                <th scope="cols" st-sort="cached" st-skip-natural="true" class="st-sort">Status</th>
                <th scope="cols" st-sort="name" st-skip-natural="true" class="st-sort" st-sort-default="true">Title</th>
                <th scope="cols" st-sort="className" st-skip-natural="true" class="st-sort">Class Name</th>
                <th scope="cols" st-sort="confidentiality" st-skip-natural="true" class="st-sort">Confidentiality </th>
                <th scope="cols" st-sort="creationTime" st-skip-natural="true" class="st-sort">Creation Date</th>
                <th scope="cols" st-sort="size" st-skip-natural="true" class="st-sort">Size</th>
                <th scope="cols" st-sort="organization" st-skip-natural="true" class="st-sort">Organization</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="doc in vm.activePatient.documents track by doc.id">
                <td>
                  <button ng-if="!doc.cached" ng-click="vm.cacheDocument(vm.activePatient, doc)" class="btn btn-warning btn-sm"><span class="sr-only">Cache </span><i class="fa fa-download"></i></button>
                  <button ng-if="doc.cached" ng-click="vm.getDocument(vm.activePatient, doc)" class="btn btn-success btn-sm"><span class="sr-only">View </span><i class="fa fa-eye"></i></button>
                </td>
                <td>{{ doc.name }}</td>
                <td>{{ doc.className }}</td>
                <td>{{ doc.confidentiality }}</td>
                <td>{{ vm.translateDate(doc.creationTime) | date : 'mediumDate' : 'UTC' }}</td>
                <td>{{ doc.size | bytes }}</td>
                <td>{{ doc.organization }}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger" ng-click="vm.dischargePatient(vm.activePatient)"><i class="fa fa-sign-out"></i><span class="sr-only">Discharge {{ vm.activePatient.givenName }} {{ vm.activePatient.familyName }}</span></button>
          <button class="btn btn-warning" ng-click="vm.deactivatePatient()"><i class="fa fa-close"></i><span class="sr-only">Deactivate {{ vm.activePatient.givenName }} {{ vm.activePatient.familyName }}</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
