<div class="container-fluid addresses">
  <div class="form-horizontal fade" ng-repeat="address in vm.addresses track by $index">
    <div class="form-group slide" ng-repeat="line in address.lines track by $index">
      <div class="col-sm-12">
        <label for="street{{ $index }}" class="control-label sr-only">Street Line</label>
        <div class="input-group">
          <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="address.lines[$index]" id="street{{ $index }}" name="street{{ $index }}" placeholder="Street Line"></input>
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.addLine(address)" ng-if="address.lines.length === $index + 1"><i class="fa fa-plus"></i><span class="sr-only">Add new street line</span></button>
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.removeLine(address, $index)" ng-if="address.lines.length > 1"><i class="fa fa-trash"></i><span class="sr-only">Remove current street line</span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-5">
        <label for="city" class="control-label sr-only">City</label>
        <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="address.city" id="city" name="city" placeholder="City"></input>
      </div>
      <div class="col-sm-3">
        <label for="state" class="control-label sr-only">State</label>
        <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="address.state" id="state" name="state" placeholder="State"></input>
      </div>
      <div class="col-sm-4">
        <label for="zip" class="control-label sr-only">Zip</label>
        <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="address.zipcode" id="zip" name="zip" placeholder="Zip"></input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label for="country" class="control-label sr-only">Country</label>
        <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="address.country" id="country" name="country" placeholder="Country"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default" ng-click="vm.addAddress()" ng-if="vm.addresses.length === $index + 1">Add new address <i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-default" ng-click="vm.removeAddress($index)" ng-if="vm.addresses.length > 1">Remove this address <i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>
