<div class="container-fluid acf">
  <div class="form-horizontal" ng-form="vm.queryForm">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title" ng-if="!vm.hasAcf()">Login to an Alternate Care Facility (ACF)</h2>
        <h2 class="panel-title" ng-if="vm.hasAcf()">Alternate Care Facility (ACF) Information
          <button class="btn btn-sm pull-right panel-button" ng-click="vm.isEditing = true" ng-if="!vm.isEditing"><i class="fa fa-pencil"></i><span class="sr-only">Edit ACF Information</span></button>
        </h2>
      </div>
      <div class="panel-body">
        <div ng-if="!vm.hasAcf()">
          <div class="col-sm-12"><h3>Select an existing ACF</h3></div>
          <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required }">
            <label for="selectAcf" class="control-label sr-only">ACF Selection</label>
            <div class="col-sm-12">
              <select class="input-sm form-control" ng-model="vm.selectAcf" id="selectAcf" name="selectAcf" ng-disabled="vm.createNewAcf || !vm.acfs || vm.acfs.length === 0" ng-required="!vm.createNewAcf"
                      ng-options="acf.name for acf in vm.acfs"
                      ng-keyup="$event.keyCode == 13 && vm.submitForm()">
              </select>
              <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.selectAcf.$touched) && vm.queryForm.selectAcf.$error.required">Field is required</span>
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="!vm.hasAcf()">
          <div class="col-sm-12">
            <label for="createNewAcf" class="control-label">ACF not found?</label>
            <input class="input-sm" type="checkbox" ng-model="vm.createNewAcf" id="createNewAcf" name="createNewAcf" ng-disabled="vm.acfs.length === 0"></input>
          </div>
        </div>
        <div ng-if="(!vm.hasAcf() && vm.createNewAcf) || (vm.hasAcf() && vm.isEditing)">
          <div class="col-sm-12" ng-if="!vm.hasAcf()"><h3>Create a new ACF</h3></div>
          <div class="col-sm-12" ng-if="vm.hasAcf()"><h3>Edit current ACF</h3></div>
          <div class="form-group" ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.acfName.$touched) && vm.queryForm.acfName.$error.required }">
            <label for="acfName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.name" id="acfName" name="acfName" ng-disabled="!vm.createNewAcf && !vm.isEditing" ng-required="vm.createNewAcf || vm.isEditing"></input>
              <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.queryForm.acfName.$touched) && vm.queryForm.acfName.$error.required">Field is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="acfPhoneNumber" class="col-sm-3 control-label">Number</label>
            <div class="col-sm-9">
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.phoneNumber" id="acfPhoneNumber" name="acfPhoneNumber" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="(424) 555-1234"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
              <label for="acfStreet1" class="control-label sr-only">Street Line 1</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.street1" id="acfStreet1" name="acfStreet1" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="Street Line 1"></input>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <label for="acfStreet2" class="control-label sr-only">Street Line 2</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.street2" id="acfStreet2" name="acfStreet2" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="Street Line 2"></input>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-5 col-sm-offset-3">
              <label for="acfCity" class="control-label sr-only">City</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.city" id="acfCity" name="acfCity" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="City"></input>
            </div>
            <div class="col-sm-2">
              <label for="acfState" class="control-label sr-only">State</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.state" id="acfState" name="acfState" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="State"></input>
            </div>
            <div class="col-sm-2">
              <label for="acfZip" class="control-label sr-only">Zip</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.zipcode" id="acfZip" name="acfZip" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="Zip"></input>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <label for="acfCountry" class="control-label sr-only">Country</label>
              <input class="input-sm form-control" type="text" ng-keyup="$event.keyCode == 13 && vm.submitForm()" ng-model="vm.acf.address.country" id="acfCountry" name="acfCountry" ng-disabled="!vm.createNewAcf && !vm.isEditing" placeholder="Country"></input>
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="!vm.hasAcf()">
          <div class="col-sm-2 col-sm-offset-5">
            <button ng-disabled="vm.queryForm.$invalid && vm.showFormErrors"
                    class="btn btn-success btn-block"
                    id="acfSubmit"
                    ng-mouseover="vm.showFormErrors = true"
                    ng-focus="vm.showFormErrors = true"
                    ng-click="vm.acfSubmit()">Submit</button>
          </div>
        </div>
        <div class="form-group" ng-if="vm.hasAcf() && vm.isEditing">
          <div class="col-sm-2 col-sm-offset-5">
            <button ng-disabled="vm.queryForm.$invalid && vm.showFormErrors"
                    class="btn btn-success btn-block"
                    id="acfEdit"
                    ng-mouseover="vm.showFormErrors = true"
                    ng-focus="vm.showFormErrors = true"
                    ng-click="vm.editAcf()">Save changes</button>
          </div>
        </div>
        <div class="form-group" ng-if="vm.hasAcf() && vm.isEditing">
          <div class="col-sm-2 col-sm-offset-5">
            <button class="btn btn-danger btn-block"
                    id="acfCancelEdit"
                    ng-click="vm.cancelEditing()">Cancel editing</button>
          </div>
        </div>
        <div class="form-group" ng-if="vm.queryForm.$invalid && vm.showFormErrors">
          <div class="col-sm-10 col-sm-offset-1 text-danger">
            The following error<span ng-if="vm.errorCount() > 1">(s)</span> must be fixed:
            <ul>
              <li ng-if="vm.queryForm.selectAcf.$error.required">An ACF must be selected</li>
              <li ng-if="vm.queryForm.acfName.$error.required">ACF Name is required</li>
            </ul>
          </div>
        </div>
        <div ng-if="vm.hasAcf() && !vm.isEditing">
          <h3>{{ vm.acf.name }}</h3>
          <table class="table">
            <tbody>
              <tr>
                <th scope="rows">Number</th>
                <td>{{ vm.acf.phoneNumber }}</td>
              </tr>
              <tr>
                <th scope="rows">Address</th>
                <td>
                  <span ng-if="vm.acf.address.street1">{{ vm.acf.address.street1 }}<br /></span>
                  <span ng-if="vm.acf.address.street2">{{ vm.acf.address.street2 }}<br /></span>
                  <span ng-if="vm.acf.address.city">{{ vm.acf.address.city }}, </span>
                  <span ng-if="vm.acf.address.state">{{ vm.acf.address.state }} </span>
                  <span ng-if="vm.acf.address.zipcode">{{ vm.acf.address.zipcode }}</span>
                  <span ng-if="vm.acf.address.country"><br />{{ vm.acf.address.country }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
