<div class="container-fluid document-review">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="pull-right">
        <button class="btn btn-sm panel-button" ng-click="vm.cancel()" ng-if="vm.activeDocument"><span class="sr-only">Close document</span><i class="fa fa-close"></i></button>
        <button class="btn btn-sm panel-button" ng-click="vm.hidePanel = !vm.hidePanel"><i class="fa fa-lg {{ vm.hidePanel ? 'fa-caret-right' : 'fa-caret-down' }}"></i><span class="sr-only">{{ vm.hidePanel ? 'Show' : 'Hide' }} Panel</span></button>
      </div>
      <h2 class="panel-title">Document Review</h2>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body slide" ng-if="!vm.hidePanel">
      <div ng-if="vm.activeDocument">
        Showing <button href ng-click="vm.showRaw = !vm.showRaw" class="btn btn-default btn-sm">{{ vm.showRaw ? 'raw' : 'transformed' }}</button> document information
        <div ng-if="!vm.showRaw" ng-bind-html="vm.transformedDocument"></div>
        <div ng-if="vm.showRaw"><pre class="prettyprint lang-xml" ng-bind-html="vm.activeDocument.data | prettyXml | prettyprint"></pre></div>
      </div>
      <div ng-if="!vm.activeDocument">
        No document currently loaded
      </div>
    </div>
  </div>
</div>
