<div class="patient-search container-fluid">
  <div class="" ng-form="vm.queryForm">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="pull-right">
          <button class="btn btn-sm panel-button" ng-click="vm.hidePanel = !vm.hidePanel"><i class="fa fa-lg {{ vm.hidePanel ? 'fa-caret-right' : 'fa-caret-down' }}"></i><span class="sr-only">{{ vm.hidePanel ? 'Show' : 'Hide' }} Panel</span></button>
        </div>
        <h2 class="panel-title">Patient Query</h2>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body slide" ng-if="!vm.hidePanel">
        <div class="form-group">
          <label class="col-sm-12 control-label">Name<span ng-if="vm.query.patientNames && vm.query.patientNames.length !== 1">s</span> <span class="text-danger">*</span></label>
          <div class="col-sm-12">
            <ai-names names="vm.query.patientNames"
                      active-form="vm.queryForm"
                      show-form-errors="vm.showFormErrors"
                      submit-form="vm.searchForPatient"></ai-names>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required }">
            <label for="gender" class="col-sm-12 control-label">Gender <span class="text-danger">*</span></label>
            <div class="col-sm-12">
              <select class="input-sm form-control" ng-model="vm.query.gender" id="gender" name="gender" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()" required>
                <option value="" selected="true" disabled="disabled">Choose from the selection</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
                <option value="UN">Undifferentiated</option>
              </select>
              <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.gender.$touched) && vm.queryForm.gender.$error.required">Field is required</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{ 'has-error' : (vm.showFormErrors || vm.queryForm.dobYear.$touched) && vm.queryForm.dobYear.$error.required }">
            <label class="col-sm-12 control-label">Date of Birth <span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <label class="sr-only" for="dobYear">Year</label>
              <input class="input-sm form-control" type="text" ng-model="vm.query.dob.year" placeholder="yyyy"
                     ng-pattern="/^\d{4}$/"
                     id="dobYear" name="dobYear" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()" required>
              <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.dobYear.$touched) && !vm.queryForm.dobYear.$error.required && !vm.queryForm.dobYear.$valid">yyyy</span>
              <span class="text-danger" ng-if="(vm.showFormErrors || vm.queryForm.dobYear.$touched) && vm.queryForm.dobYear.$error.required">Field is required</span>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="sr-only" for="dobMonth">Month</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.month" ng-disabled="vm.query.dob.year.length !== 4"
                    id="dobMonth" name="dobMonth" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Month</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label class="sr-only" for="dobDay">Day</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.day" ng-disabled="vm.query.dob.month.length !== 2"
                    id="dobDay" name="dobDay" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Day</option>
              <option value="01">1</option>
              <option value="02">2</option>
              <option value="03">3</option>
              <option value="04">4</option>
              <option value="05">5</option>
              <option value="06">6</option>
              <option value="07">7</option>
              <option value="08">8</option>
              <option value="09">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="col-sm-4" ng-if="vm.showOptional && vm.query.dob.year && vm.query.dob.year.length > 0 && vm.query.dob.month && vm.query.dob.month.length > 0 && vm.query.dob.day && vm.query.dob.day.length > 0">
            <label class="sr-only" for="dobHour">Hour</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.hour"
                    id="dobHour" name="dobHour" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Hour</option>
              <option value="00">0</option>
              <option value="01">1</option>
              <option value="02">2</option>
              <option value="03">3</option>
              <option value="04">4</option>
              <option value="05">5</option>
              <option value="06">6</option>
              <option value="07">7</option>
              <option value="08">8</option>
              <option value="09">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
          </div>
          <div class="col-sm-4" ng-if="vm.showOptional && vm.query.dob.year && vm.query.dob.year.length > 0 && vm.query.dob.month && vm.query.dob.month.length > 0 && vm.query.dob.day && vm.query.dob.day.length > 0 && vm.query.dob.hour && vm.query.dob.hour.length > 0">
            <label class="sr-only" for="dobMinute">Minute</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.minute"
                    id="dobMinute" name="dobMinute" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Minute</option>
              <option value="00">0</option>
              <option value="01">1</option>
              <option value="02">2</option>
              <option value="03">3</option>
              <option value="04">4</option>
              <option value="05">5</option>
              <option value="06">6</option>
              <option value="07">7</option>
              <option value="08">8</option>
              <option value="09">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
            </select>
          </div>
          <div class="col-sm-4" ng-if="vm.showOptional && vm.query.dob.year && vm.query.dob.year.length > 0 && vm.query.dob.month && vm.query.dob.month.length > 0 && vm.query.dob.day && vm.query.dob.day.length > 0 && vm.query.dob.hour && vm.query.dob.hour.length > 0 && vm.query.dob.minute && vm.query.dob.minute.length > 0">
            <label class="sr-only" for="dobSecond">Second</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.second"
                    id="dobSecond" name="dobSecond" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Second</option>
              <option value="00">0</option>
              <option value="01">1</option>
              <option value="02">2</option>
              <option value="03">3</option>
              <option value="04">4</option>
              <option value="05">5</option>
              <option value="06">6</option>
              <option value="07">7</option>
              <option value="08">8</option>
              <option value="09">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
            </select>
          </div>
          <div class="col-sm-12" ng-if="vm.showOptional">
            <label class="sr-only" for="dobTimeZone">Time Zone</label>
            <select class="input-sm form-control" ng-model="vm.query.dob.z"
                    id="dobTimeZone" name="dobTimeZone" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <option value="" selected="true">Time Zone Unknown</option>
              <option value="-1200">UTC−12:00</option>
              <option value="-1100">UTC−11:00</option>
              <option value="-1000">UTC−10:00 (Honolulu)</option>
              <option value="-0930">UTC−09:30</option>
              <option value="-0900">UTC−09:00 (Anchorage)</option>
              <option value="-0800">UTC−08:00 (Los Angeles)</option>
              <option value="-0700">UTC−07:00 (Phoenix)</option>
              <option value="-0600">UTC−06:00 (Chicago)</option>
              <option value="-0500">UTC−05:00 (New York)</option>
              <option value="-0400">UTC−04:00 (Santiago)</option>
              <option value="-0330">UTC−03:30 (St. John's)</option>
              <option value="-0300">UTC−03:00 (Buenos Aires)</option>
              <option value="-0200">UTC−02:00</option>
              <option value="-0100">UTC−01:00</option>
              <option value="+0000">UTC+00:00 (London)</option>
              <option value="+0100">UTC+01:00 (Berlin)</option>
              <option value="+0200">UTC+02:00 (Athens)</option>
              <option value="+0300">UTC+03:00 (Moscow)</option>
              <option value="+0330">UTC+03:30 (Tehran)</option>
              <option value="+0400">UTC+04:00 (Dubai)</option>
              <option value="+0430">UTC+04:30 (Kabul)</option>
              <option value="+0500">UTC+05:00 (Karachi)</option>
              <option value="+0530">UTC+05:30 (Delhi)</option>
              <option value="+0545">UTC+05:45 (Kathmandu)</option>
              <option value="+0600">UTC+06:00 (Almaty)</option>
              <option value="+0630">UTC+06:30 (Yangon)</option>
              <option value="+0700">UTC+07:00 (Jakarta)</option>
              <option value="+0800">UTC+08:00 (Beijing)</option>
              <option value="+0830">UTC+08:30 (Pyongyang)</option>
              <option value="+0845">UTC+08:45</option>
              <option value="+0900">UTC+09:00 (Seoul)</option>
              <option value="+0930">UTC+09:30 (Adelaide)</option>
              <option value="+1000">UTC+10:00 (Sydney)</option>
              <option value="+1030">UTC+10:30</option>
              <option value="+1100">UTC+11:00 (Noumea)</option>
              <option value="+1200">UTC+12:00 (Auckland)</option>
              <option value="+1245">UTC+12:45</option>
              <option value="+1300">UTC+13:00</option>
              <option value="+1400">UTC+14:00</option>
            </select>
          </div>
          <div class="col-sm-12" ng-if="vm.query.dob.year && vm.query.dob.year.length > 0">Assembled Birth Date/Time: {{ vm.assembledDob() }}</div>
        </div>
        <div class="form-group">
          <div ng-class="{ 'has-error' : ((vm.showFormErrors && vm.queryForm.$touched) || vm.queryForm.ssn.$touched) && vm.queryForm.ssn.$error.pattern }">
            <label for="ssn" class="col-sm-12 control-label">SSN</label>
            <div class="col-sm-12">
              <input class="input-sm form-control" type="text" ng-model="vm.query.ssn" id="ssn" name="ssn"
                     uib-tooltip="XXX-XX-XXXX" tooltip-trigger="mouseenter focus click"
                     placeholder="XXX-XX-XXXX" pattern="(\d{3}-?\d{2}-?\d{4})" ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              <div class="text-danger" ng-if="((vm.showFormErrors && vm.queryForm.$touched) || vm.queryForm.ssn.$touched) && vm.queryForm.ssn.$error.pattern">Improper format (XXX-XX-XXXX)</div>
            </div>
          </div>
          <div ng-if="vm.showOptional">
            <div class="form-group">
              <label for="telephone" class="col-sm-12 control-label">Telephone</label>
              <div class="col-sm-12">
                <input class="input-sm form-control" type="text" ng-model="vm.query.telephone" id="telephone" name="telephone"
                       ng-keyup="$event.keyCode == 13 && !vm.queryForm.$invalid && vm.searchForPatient()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12 control-label">Addresses</label>
              <div class="col-sm-12">
                <ai-addresses addresses="vm.query.addresses"
                              submit-form="vm.searchForPatient"></ai-addresses>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-default" ng-click="vm.showOptional = !vm.showOptional"><span class="sr-only">{{ vm.showOptional ? 'Hide' : 'Show' }} optional search items </span><i class="fa" ng-class="vm.showOptional ? 'fa-caret-up' : 'fa-caret-down'"></i></button>
          </div>
        </div>
      </div>
      <div class="panel-footer slide" ng-if="!vm.hidePanel">
        <div class="row" ng-if="vm.errorMessage">
          <div class="col-sm-12 bg-danger">{{ vm.errorMessage }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <button ng-disabled="vm.queryForm.$invalid && vm.showFormErrors"
                    class="btn btn-success btn-block"
                    id="queryFormSubmit"
                    ng-mouseover="vm.showFormErrors = true"
                    ng-focus="vm.showFormErrors = true"
                    ng-click="vm.searchForPatient()">Search <i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
